.custom_btn {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  outline: none;
  transition: all 0.3s ease;
  font-family: poppins, sans-serif;
  justify-content: center;
}

.custom_btn img {
  display: block;
}

.custom_btn:hover {
  transform: translateY(-1px);
  opacity: 0.95;
}

.custom_btn svg {
  width: 16px;
}

.custom-btn:active {
  transform: translateY(0);
}


/* Faq */

.faqWrapper {
  max-width: 720px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
}

.faqItem {
  border: 1px solid;
  transition: all 0.3s ease;
}

.question {
  width: 100%;
  padding: 18px 22px;
  background: none;
  border: none;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: space-between;

  font-weight: 600;
  text-align: left;
}

.icon {
  font-size: 24px;
  font-weight: 500;
}

.answer {
  padding: 0 22px 18px;
  line-height: 1.6;
}

/* FacialCard */

.card {
  width: 100%;
  border-radius: 18px;
  overflow: hidden;
}

.imageWrapper {
  position: relative;
  height: 333px;
  width: 100%;
  border-radius: 20px;
}

.image {
  object-fit: cover;
}

.content {
  background: white;
  padding: 16px 18px;
  display: flex;
  gap: 12px;
  align-items: flex-start;
  border-radius: 0px 16px 16px 16px;
  margin: -30px 12px 12px 0;
  position: relative;
  z-index: 2;
}

.icon_1 {
  background: #8b1d2c;
  color: white;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  display: grid;
  place-items: center;
  font-size: 18px;
  flex-shrink: 0;
  margin-top: -40px;
  position: absolute;
}

.title {
  margin: 0;
  font-size: 18px;
  font-weight: 600;
  color: #111;
}

.subtitle {
  margin: 4px 0 10px;
  font-size: 14px;
  color: #777;
}

.button {
  background: none;
  border: none;
  padding: 0;
  font-size: 14px;
  font-weight: 500;
  color: #8b1d2c;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  gap: 6px;
}

.button:hover {
  text-decoration: underline;
}

.arrow {
  font-size: 16px;
}
.sliderContainer{
  overflow: hidden;
  width: 100%;
}

.sliderContainer .slick-slide {
  padding: 0 15px;
}

.sliderContainer .slick-list {
  margin: 0 -15px;
}
.card_main {
  padding: 0 10px;
  box-sizing: border-box;
}


/* Form */


.subscribe_form_inputs{
  display: grid;
  grid-template-columns: auto auto;
  gap:20px;
}

.subscribe_form_inputs input , .input{
  width: 100%;
  box-sizing: border-box;
  border: none;
}
.subscribe_form_email{
margin: 20px 0;
}